@font-face{
    font-family: 'Roboto Bold';
    src: url('../src/fonts/roboto/Roboto-Bold.ttf');
  }
  @font-face{
    font-family: 'Roboto Regular';
    src: url('../src/fonts/roboto/Roboto-Regular.ttf');
  }
  
  @font-face{
    font-family: 'PlayfairDisplay Black';
    src: url('../src/fonts/playfair/PlayfairDisplay-Black.ttf');
  }
  
  
  
  