@import '../../styles/globals';
@import '../../styles/breakpoints';

.headline-full {
  padding: 20px;

  &__main {
    grid-area: main;
  }

  &__side {
    grid-area: side;
    padding: 20px;
    @media (min-width: $mobile) {
      padding: 0px;
    }
  }
  @media (min-width: $tablet-landscape) {
    display: grid;
    grid-gap: 2.5em;
    grid-template-areas: 'main side';
    grid-template-columns: 60% 40%;
  }
}
